{% extends 'base.html' %}
{% load static %}

{% block title %}
Главная страница
{% endblock %}

{% block content %}
    {% for photo in photos %}

    <div class="row row-cols-1 g-4 mb-5" id="{{photo.pk}}">
        <div class="col" style="width: min-content;">

            <div class="card">

                <div class="box">
                    <a href="{% url 'photo_detail' photo.pk %}">
                        <img class="box_img border border-2 img" src="{{ photo.photo.url }}" alt="image" width="350">
                    </a>
                </div>

                <div class="card-body">
                    Автор:  <a href="{% url 'account_detail' photo.author.username %}">
                                <b>{{ photo.author }}</b><br>
                            </a>
                    <hr>

                    <span class="card-text">Описание: {{ photo.signature }}</span><br>
                    <span class="card-text">Дата создания: {{ photo.created_at }}</span><br>

                </div>
            </div>
        </div>
    </div>

{% endfor %}
{% endblock %}
