{% extends 'base.html' %}
{% load static %}

{% block title %}Photo detail{% endblock %}

{% block content %}
    <div class="row row-cols-1 g-4">
        <div class="col" style="width: min-content;">
            <div class="card">

                <div class="box">
                    <img class="box_img border border-2 img" src="{{ photo.photo.url }}" alt="image" width="350">
                </div>
                <div class="card-body">
                    Автор: <b>{{ photo.author }}</b><br>
                    <hr>
                    <span class="card-text">Описание: {{ photo.signature }}</span><br>
                    <span class="card-text">Дата создания: {{ photo.created_at }}</span><br>
                </div>
            </div>
        </div>
    </div>
    <p>В списке избранных:</p>
    {% for account in photo.favorited_users.all %}
        {{ account.name }}
    {% endfor %}

    <form method="POST" action="{% url 'photo_delete' photo.pk %}">
        {% csrf_token %}

        {% if photo.author == user or has_edit_permission %}
            <a href="{% url 'photo_update' photo.pk %}" class="btn btn-secondary btn-sm  " role="button">Редактировать</a>
        {% endif %}

        {% if photo.author == user or has_del_permission %}
            <input class="btn btn-secondary btn-sm " type="submit" value="удалить">
        {% endif %}
    </form>

    {% if photo in user.favorited_photos.all %}
        <a href="#" class="from-favorite btn btn-danger btn-sm mt-3" id="{{photo.pk}}">Удалить из избранного</a>
    {% else %}
        <a href="#" class="to-favorite btn btn-success btn-sm mt-3" id="{{photo.pk}}">Добавить в избранное</a><br>
    {%endif%}


<script src="https://code.jquery.com/jquery-3.6.4.min.js"
        integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8="
        crossorigin="anonymous">
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="{% static 'js/favorite.js' %}"></script>

{% endblock %}
