{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block title %}Profile{% endblock %}

{% block content %}
<div>
Редактировать: <a href="{% url 'account_update' account.username %}">{{ account.username }}</a><br>
<b>Автор:</b>{{ account.name }}<br>
<b>Логин:</b>{{ account.username }}<br>
<b>Телефон:</b>{{ account.phone }} <br>
<b>email:</b>{{ account.email }} <br>
</div>
{% for photo in account.favorited_photos.all %}
    <div class="d-flex">
        <div>
    <img class="box_img border border-2 img" src="{{photo.photo.url}}" alt="image" width="150"><br>
        </div>
    </div>
    {% endfor %}
{% endblock %}
